@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*Basic styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}


:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --green-color: hsl(179, 100%, 13%);
    --light-gray: hsl(0, 0%, 95%);                      /*For headings and backgrounds*/
    --transparent-white: hsla(0, 0%, 100%, 0.75);       /*For paragraphs*/

    --primary-font-size: 15px;                             /*This can be changed for percentage - 93.75%*/

    --main-font-family: 'Lexend Deca', sans-serif;
    --headings-font-family: 'Big Shoulders Display', sans-serif;
}

body {
    font-size: var(--primary-font-size);                 /*Font-size: 15px*/
    font-family: var(--main-font-family);                /*'Lexend Deca', sans-serif*/
    /*display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; */
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

/* Headings and Paragraphs */
h3 {
    font-family: var(--headings-font-family);
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: var(--primary-font-size);
    font-family: var(--main-font-family);                 /*Although this is redundant because it inherent by its parent*/      
    line-height: 1.6;
    /*margin-bottom: 100px 0; */
}

.container {
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.card {
   /*display: flex; */
    padding: 40px;   
} 


.card img {
    margin-bottom: 30px;
}

.card p{
    margin-bottom: 30px;
}

.card h3 {
    margin-bottom: 20px;
}
 
/*Orange*/
.card-1 {
    background-color: var(--bright-orange);
    color: var(--transparent-white);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

/*Dark Cyan*/
.card-2 {
    background-color: var(--dark-cyan);
    color: var(--transparent-white);
}

/*Green*/
.card-3 {
    background-color: var(--green-color);
    color: var(--transparent-white);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.btn {
    background-color: var(--light-gray);
    border: 2px solid #fff;
    border-radius: 30px;
    margin-top: 50px;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

/* Color text of each button*/
.card-1 .btn {
    color: var(--bright-orange);
}
.card-2 .btn {
    color: var(--dark-cyan);
}
.card-3 .btn {
    color: var(--green-color);
}

.btn:hover {
    background-color: transparent;
    color: var(--light-gray);
}

@media only screen and (min-width: 768px) {

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 660px;
      border: 1em;
    }
    
    .card {
      padding: 45px;
    }
    
    /*
    .card-1 {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        
    }

    .card-3 {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    } */

    .card p {
      margin-bottom: 80px;
    }
  }


